<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>196670355758-v6ne64u791mp49f9fvcet7t2qcu3e02v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196670355758-v6ne64u791mp49f9fvcet7t2qcu3e02v</string>
	<key>API_KEY</key>
	<string>AIzaSyDSuDllGvpi-yiffgYezBTEvMywbmiYhLs</string>
	<key>GCM_SENDER_ID</key>
	<string>196670355758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codenameios.youtaskme</string>
	<key>PROJECT_ID</key>
	<string>youtaskme-f45e4</string>
	<key>STORAGE_BUCKET</key>
	<string>youtaskme-f45e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:196670355758:ios:ba9c8af0b4a48e2d</string>
	<key>DATABASE_URL</key>
	<string>https://youtaskme-f45e4.firebaseio.com</string>
</dict>
</plist>